/* Default CSS start */
* {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
  }
  body {
    font-weight: 400;
    background-color: #121212;
    color: #eeeeee;
  }
  .highlight {
    background-color: #181818;
    color: #808080;
  }
  a,
  li,
  button,
  ul {
    line-height: normal;
    text-decoration: none;
  }
  a:link,
  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
    color: #808080;
  }
  /* Default CSS End*/